/*----------General----------*/
body {
	margin: 0px;
	padding: 0px;
	width: 100%;

	forced-color-adjust: none;

	font-size: 16px;
	color: white;
	font-family: 'Noto Sans', sans-serif;

	background-image: repeating-linear-gradient(173deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), repeating-linear-gradient(218deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), linear-gradient(128deg, rgb(59, 59, 59), rgb(4, 4, 4));
}

/*----------h1 Anim----------*/
.titlebox1 {
	font-family: 'Noto Sans', sans-serif;
}

.waviy1 {
	position: relative;
}

.waviy1 span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i));
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------h2 Anim----------*/
.titlebox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	background-color: #5A98B7;
	margin: 0;
	background-image: linear-gradient(240deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(208deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(323deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(452deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(469deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(263deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(546deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(512deg, rgba(23, 33, 69, 0.35) 0%, rgba(23, 33, 69, 0.35) 20%, rgb(90, 152, 183) 20%, rgb(90, 152, 183) 100%), linear-gradient(289deg, rgb(173, 212, 236), rgb(173, 212, 236));
}

.waviy {
	position: relative;
}

.waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i))
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------Grid Page----------*/

@media only screen and (min-width:768px) {

	.grid-container {
		display: grid;
		grid-template-areas:
			'header header header header header header'
			'contact main main main main right'
			'contact footer footer footer footer footer';
	}
}

.item1 {
	grid-area: header;
	width: 100%;
	background-color: #386982;
	margin-top: 0;
	padding: 15px;
	text-align: center;
	background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.3) 0%, rgba(36, 36, 36, 0.3) 20%, rgb(56, 105, 130) 20%, rgb(56, 105, 130) 100%), linear-gradient(90deg, rgb(90, 152, 183), rgb(90, 152, 183));
}

.IdPic {
	width: 250px;
	height: 250px;
	margin: 8px;
	border-radius: 50%;
	border: solid 2px white;
	object-fit: cover;
}

.item1>hr {
	color: white;
	text-align: center;
	width: 20rem;
}

#work {
	font-size: 22px;
}

/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/

.contact-window {
	grid-area: contact;
	border: solid 1px #5A98B7;
	text-align: center;
	width: 100%;
}

.contactItems {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
}

.contactItems>div {
	margin: 1.3rem;
}

@media only screen and (min-width:768px) {

	.contact-window {
		width: 100%;
	}

	.contactItems {
		display: flex;
		flex-direction: column;
	}
}

.logo {

	margin: 1%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.contactDiv>a {
	text-decoration: none;
	color: #fff;

}

.contactDiv :hover svg {
	transform: scale(1.15);
	transition: 0.5s;
	filter: drop-shadow(0 0 0.4rem rgb(32, 212, 41));
}

.contactDiv svg {
	transition: 0.5s;
}

#logophone {
	width: 3.4rem;
	height: 3.5rem;
}

#logomail {
	width: 3.5rem;
	height: 3rem;
}

#logoLK {
	width: 3.2rem;
	height: 3.3rem;
}

#logogit {
	width: 3.5rem;
	height: 3.5rem;
}

h4 {
	text-align: center;
}

/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
.item3 {
	grid-area: main;
	width: 100%;
	border: solid 1px #5A98B7;
}

@media only screen and (max-width: 767px) {
	.hardBox {
		display: grid;
		grid-template-columns: auto auto;
		height: 990px;
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.hardBox {
		display: grid;
		grid-template-columns: auto auto auto;
		height: 800px;
		width: 100%;
		padding: 0.2rem;
	}
}

.hskills {
	display: flex;
	align-items: space-around;
	justify-content: space-around;
	height: 10rem;
	width: 100%;
	margin-top: 1rem;
}

.hskills :hover svg {
	transform: scale(1.15);
	transition: 0.5s;
	filter: drop-shadow(0 0 0.4rem rgb(32, 170, 212));
}

.hskills svg {
	transition: 0.5s;
}

.hskills a {
	width: 5rem;
	height: 5rem;
	text-decoration: none;
	text-align: center;
	color: white;
}

.hskills>a>h3 {
	background-color: #ffffff00;
	margin: 2px;
}

.hskills img {
	width: 5rem;
	height: 5.5rem;
}

/*----------Modal----------*/
/* ANIMATED CLOSE BUTTON */

.close-modal {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 5px;
	right: 40px;
	border: none;
	background: none;
	cursor: pointer;
}

.leftright {
	height: 4px;
	width: 20px;
	position: absolute;
	margin-top: 24px;
	background-color: #5A98B7;
	border-radius: 2px;
	transform: rotate(45deg);
	transition: all .3s ease-in;
}

.rightleft {
	height: 4px;
	width: 20px;
	position: absolute;
	margin-top: 24px;
	background-color: #5A98B7;
	border-radius: 2px;
	transform: rotate(-45deg);
	transition: all .3s ease-in;
}

.close-modal:hover .leftright {
	transform: rotate(-45deg);
	background-color: #6dbce4;
	filter: drop-shadow(0 0 0.4rem rgb(32, 170, 212))
}

.close-modal:hover .rightleft {
	transform: rotate(45deg);
	background-color: #6dbce4;
	filter: drop-shadow(0 0 0.4rem rgb(32, 170, 212))
}

/* MODAL TITLE */

h3 {
	font-size: 2.3rem;
	margin-bottom: 2rem;
	color: #ffffff;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	text-shadow: #6bc4f0e1 0px 2px 5px;
}

p {
	font-size: 1.4rem;
	font-family: 'Noto Sans', sans-serif;
}

/* CLASSES TO MAKE MODAL WORK */

.hidden {
	display: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;

	background-image: repeating-linear-gradient(173deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), repeating-linear-gradient(218deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), linear-gradient(128deg, rgb(59, 59, 59), rgb(4, 4, 4));
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0 0.5rem 1.5rem #5a98b765;
	z-index: 10;
	border: 1px solid #5A98B7;
}

@media only screen and (min-width: 768px) {
	.modal {
		width: 60%;
		padding: 5rem;
	}
}

body.modal-open {
	overflow: hidden;
}


.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(3px);
	z-index: 5;
	box-shadow: inset 0 0 125px 1px #5a98b756;

}


/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
.SoftSkills {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}


.softEl {
	margin-left: 0;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}

.softEl>ul {
	padding-left: 20px;
}

.softEl>ul>li {
	padding-bottom: 12px;
	list-style: none;
	font-size: 22px;
}

#listOne {
	padding-left: 10px;
	margin-right: 0;
	padding-right: 0;
}

#listTwo {
	padding-left: 10px;
}

.softEl>img {
	width: 12rem;
	height: 12rem;
}

@media only screen and (min-width: 768px) {
	.softEl {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.SoftSkills {
		margin: 0.5rem;
	}
}

/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/

.item4 {
	grid-area: right;
	width: 100%;
	border: solid 1px #5A98B7;
}

.formations {
	margin: 5px;
}

.degrees {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: unset;
}

.reveal-if-active {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transform: scale(0.8);
	transition: 0.5s;
}

input[type="checkbox"]:checked~.reveal-if-active {
	opacity: 1;
	max-height: 340px;
	overflow: visible;
	transform: scale(1);
	margin: 1rem;
}

.box {
	position: relative;
	margin: 5px;
	border: solid 1px #ffffff;
	border-radius: 3px;
}

.upperHr {
	width: 75%;
	border-color: #5a98b79a;
}

.box>label>h3 {
	text-align: center;
	font-size: 28px;
	text-shadow: none;
}

.box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.checkmark>#eyeClose1 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

.checkmark>#eyeClose2 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

.checkmark>#eyeClose3 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

/*----------Portofolio----------*/
/*----------Portofolio----------*/
/*----------Portofolio----------*/

.portobox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 5px;
}

@media only screen and (min-width: 768px) {
	.portobox {
		padding: 5px;
	}

	.project {
		width: 100%;
	}

}

.project {
	display: flex;
	flex-direction: column;
	width: 96%;
	border: 1px solid #fff;
	margin: 6px;
	border-radius: 3px;
}

.project>h3 {
	margin: 2px;
	padding: 2px;
	text-align: center;
}

.project>hr {
	width: 80%;
	color: #fff;
}

.project>p {
	margin: 15px;
	font-size: 18px;
}


/*----------Button Visit----------*/

.buttonvisit {
	/* width: 12rem; */
	display: block;
	font-size: 1.8rem;
	font-weight: 600;
	background-image: linear-gradient(to right, #bcaae4 0%, #5A98B7 51%, #bcaae4 100%);
	margin: 25px auto;
	padding: 8px 50px;
	text-align: center;
	text-transform: uppercase;
	background-size: 200% auto;
	color: #fff;
	box-shadow: 0 0 10px #eeeeee9a;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	transition: all .5s ease-in-out;
	text-decoration: none;
}

.buttonvisit:hover {
	background-position: right center;
	/* change the direction of the change here */
	color: #fff;
	text-decoration: none;
}



/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/

.item5 {
	grid-area: footer;
	border: solid 1px #5A98B7;
}

.item5>.grid-container {
	display: grid;
	/* grid-template-columns: repeat (auto-fit, minmax(220px, 1fr)); */
	grid-template-columns: auto auto auto auto;
	grid-auto-rows: 220px;
	gap: 1em;
	margin: 1rem;
}

.zoom {
	border: solid 1px #386982;
	border-radius: 2px;
}

.hidetxt>ul {
	list-style-type: none;
	font-size: 24px;
	padding: 0;
}

.hidetxt>ul>li {
	padding-bottom: 5px;
	font-weight: 600;
}

.zoom:hover .hidetxt {

	opacity: 1;
	transition: 0.4s;
	border: solid 1px #5A98B7;
	border-radius: 2px;
	margin: 2rem;
	padding: 0rem;
	background-color: rgba(0, 0, 0, 0.5);
}

h4 {
	font-size: 45px;
	color: white;
}

#cook {
	grid-column: span 4 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/cook.jpg);
	background-size: cover;
	background-position: top;
	text-align: center;
}

#games {
	grid-column: span 4 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/jeux.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#prod {
	grid-column: span 4 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/synth.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#party {
	grid-column: span 4 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/fest.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#travel {
	grid-column: span 4 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/voyage.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.zoom {
		box-shadow: inset 0 65px 0 0 #5a98b7da;
	}

	h4 {
		margin-top: 0rem;
	}

	.hidetxt {

		border: solid 1px #5A98B7;
		border-radius: 2px;
		margin: 2rem;
		padding: 0rem;
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media only screen and (min-width: 768px) {

	.zoom {
		border: solid 1px #386982;
		border-radius: 2px;
		filter: grayscale(70%);
	}

	.zoom:hover {
		filter: grayscale(0%);
		transition: 0.4s;
		box-shadow: inset 0 65px 0 0 #5a98b7da;
	}

	h4 {
		opacity: 0;
		font-size: 45px;
		color: white;
	}

	.zoom:hover h4 {
		margin: -0.1rem;
		opacity: 1;
		color: white;
		transition: 1s;
	}

	.hidetxt {
		opacity: 0;
	}

	#cook {
		grid-column: span 4 / auto;

	}

	#games {
		grid-column: span 2 / auto;
		grid-row: span 4 / auto;

	}

	#prod {
		grid-column: span 2 / auto;
		grid-row: span 4 / auto;

	}

	#party {
		grid-column: span 2 / auto;
	}

	#travel {
		grid-column: span 4 / auto;
	}
}