/*----------General----------*/
body {
	margin: 0px;
	padding: 0px;
	width: 100%;

	forced-color-adjust: none;

	font-size: 16px;
	color: white;
	font-family: 'Noto Sans', sans-serif;

	background-image: repeating-linear-gradient(173deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), repeating-linear-gradient(218deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), linear-gradient(128deg, rgb(59, 59, 59), rgb(4, 4, 4));
}

/*----------h1 Anim----------*/
.titlebox1 {

	font-family: 'Noto Sans', sans-serif;

}

.waviy1 {
	position: relative;
}

.waviy1 span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i));
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------h2 Anim----------*/
.titlebox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	background-color: #5A98B7;
	margin: 0;
	background-image: linear-gradient(240deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(208deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(323deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(452deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(469deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(263deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(546deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(512deg, rgba(23, 33, 69, 0.35) 0%, rgba(23, 33, 69, 0.35) 20%, rgb(90, 152, 183) 20%, rgb(90, 152, 183) 100%), linear-gradient(289deg, rgb(173, 212, 236), rgb(173, 212, 236));
}

.waviy {
	position: relative;
}

.waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i))
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------Grid Page----------*/

@media only screen and (min-width:768px) {

	.grid-container {
		display: grid;
		grid-template-areas:
			'header header header header header header'
			'contact main main main main right'
			'contact footer footer footer footer footer';
	}
}

.item1 {
	grid-area: header;
	background-color: #386982;
	margin-top: 0;
	padding: 15px;
	text-align: center;
	background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.3) 0%, rgba(36, 36, 36, 0.3) 20%, rgb(56, 105, 130) 20%, rgb(56, 105, 130) 100%), linear-gradient(90deg, rgb(90, 152, 183), rgb(90, 152, 183));
}

.IdPic {
	width: 150px;
	height: 150px;
	margin: 8px;
	border-radius: 50%;
	border: solid 2px white;
}

.item1>hr {
	color: white;
	text-align: center;
	width: 20rem;
}

#work {
	font-size: 22px;
}

/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/

.contact-window {
	grid-area: contact;
	border: solid 1px #5A98B7;
	text-align: center;
	width: 14rem;
}

.contactItems {
	display: grid;
	grid-template-columns: auto auto;
	width: 100%;
}

.contactItems>div {
	margin: 1rem;
}

@media only screen and (min-width:768px) {

	.contactItems {
		display: flex;
		flex-direction: column;
	}
}

.logo {

	margin: 1%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.contactDiv>a{
	text-decoration: none;
	color: #fff;

}

.contactDiv :hover svg {
	transform: scale(1.15);
	transition: 0.5s;
	filter: drop-shadow(0 0 0.4rem rgb(32, 212, 41));
}

.contactDiv svg {
	transition: 0.5s;
}

#logophone {
	width: 3.4rem;
	height: 3.5rem;
}

#logomail {
	width: 3.5rem;
	height: 3rem;
}

#logoLK {
	width: 3.2rem;
	height: 3.3rem;
}

#logogit {
	width: 3.5rem;
	height: 3.5rem;
}


/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
.item3 {
	grid-area: main;
	width: auto;
	border: solid 1px #5A98B7;
}

@media only screen and (max-width: 767px) {
	.hardBox {
		display: grid;
		grid-template-columns: auto auto;
		height: 990px;
		padding: 1.5rem;
	}
}
	
@media only screen and (min-width: 768px) {
	.hardBox {
		display: grid;
		grid-template-columns: auto auto auto;
		height: 800px;
		width:  40rem;
		padding: 1.5rem;
	}
}

.hskills {
	display: flex;
	align-content: center;
	justify-content: center;
	height: 10rem;
	width: 100%;
}

.hskills :hover svg {
	transform: scale(1.15);
	transition: 0.5s;
	filter: drop-shadow(0 0 0.4rem rgb(32, 170, 212));
}

.hskills svg {
	transition: 0.5s;
}

.hskills a {
	width: 5rem;
	height: 5rem;
	text-decoration: none;
	text-align: center;
	color: white;
}

.hskills>a>h3 {
	background-color: #ffffff00;
}
.hskills img {
	width: 5rem;
	height: 5.5rem;
}

/*----------Modal----------*/



/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
.SoftSkills {
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.softEl {
	margin-left: 0;
	margin-top: 1rem;
	margin-bottom: 0.8rem;
}

.softEl>ul {
	padding-left: 20px;
}

.softEl>ul>li {
	padding-bottom: 12px;
	list-style: none;
}

#listOne{
	padding-left: 10px;
	margin-right: 0;
	padding-right: 0;
}

#listTwo {
	padding-left: 10px;
}

.softEl>img {
	width: 8rem;
	height: 8rem;
}

/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/

.item4 {
	grid-area: right;
	border: solid 1px #5A98B7;
}

@media only screen and (min-width: 768px) {
	.item4 {
		width: 50rem;
	}
}

.formations {
	margin: 5px;
}

.degrees {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding-left: unset;
}

.reveal-if-active {
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transform: scale(0.8);
	transition: 0.5s;
}

input[type="checkbox"]:checked~.reveal-if-active {
	opacity: 1;
	max-height: 13rem;
	overflow: visible;
	transform: scale(1);
	margin: 1rem;
}

.box {
	position: relative;
	margin: 5px;
	border: solid 1px #ffffff;
	border-radius: 3px;
}

.upperHr {
	width: 75%;
	border-color: #5a98b79a;
}

.box>label>h3 {
	text-align: center;
	font-size: 18px;
}

.box input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 100%;
	width: 100%;
}

.checkmark>#eyeClose1 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

.checkmark>#eyeClose2 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

.checkmark>#eyeClose3 {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 2.5rem;
	height: 2.5rem;
	z-index: -1;
}

/*----------Portofolio----------*/
/*----------Portofolio----------*/
/*----------Portofolio----------*/

.portobox{
	padding: 0.1rem;
}

@media only screen and (min-width: 768px) {
	.portobox{
		padding: 1rem;
	}
}

/* .portobox > a :hover svg {
	transform: scale(1.15);
	transition: 0.5s;
	filter: drop-shadow(0 0 0.4rem rgb(32, 170, 212));
} */

/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/

.item5 {
	grid-area: footer;
	border: solid 1px #5A98B7;
}

.item5>.grid-container {
	display: grid;
	grid-template-columns: repeat (auto-fit, minmax(220px, 1fr));
	grid-auto-rows: 220px;
	gap: 1em;
	margin: 1%;
}

.zoom {
	border: solid 1px #386982;
	border-radius: 2px;
}

#cook {
	grid-column: span 4 / auto;
	background-image: url(../Img/cook.jpg);
	background-size: cover;
	background-position: top;
	text-align: center;
}

#games {
	grid-column: span 2 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/jeux.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#prod {
	grid-column: span 2 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/synth.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;

}

#party {
	grid-column: span 2 / auto;
	background-image: url(../Img/fest.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#travel {
	grid-column: span 4 / auto;
	background-image: url(../Img/voyage.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

/*----------Fx----------*/
.item5>.grid-container :hover {
	transform: scale(1.05);
	transition: 0.4s;
}