/*----------General----------*/
body {
	background-color: #273136;
	color: white;
	margin: 1%;
	font-size: 16px;
	font-family: 'Noto Sans', sans-serif;
	width: 100%;
	background-image: repeating-linear-gradient(173deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), repeating-linear-gradient(218deg, rgb(39, 49, 54) 0px, rgb(39, 49, 54) 0px, transparent 0px, transparent 1px, rgb(39, 49, 54) 1px, rgb(39, 49, 54) 4px, transparent 4px, transparent 5px, rgb(39, 49, 54) 5px, rgb(39, 49, 54) 8px), linear-gradient(128deg, rgb(59, 59, 59), rgb(4, 4, 4));
}

/*----------h1 Anim----------*/
.titlebox1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;

	margin: 0;
}

.waviy1 {
	position: relative;
}

.waviy1 span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i));
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------h2 Anim----------*/
.titlebox {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	background-color: #5A98B7;
	margin: 0;
	background-image: linear-gradient(240deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(208deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(323deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(452deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(469deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(263deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(546deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(512deg, rgba(23, 33, 69, 0.35) 0%, rgba(23, 33, 69, 0.35) 20%, rgb(90, 152, 183) 20%, rgb(90, 152, 183) 100%), linear-gradient(289deg, rgb(173, 212, 236), rgb(173, 212, 236));
}

.waviy {
	position: relative;
}

.waviy span {
	position: relative;
	display: inline-block;
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	animation: flip 4s infinite;
	animation-delay: calc(.4s * var(--i))
}

@keyframes flip {

	0%,
	80% {
		transform: rotateY(360deg)
	}
}

/*----------Grid Page----------*/

@media only screen and (min-width:768px) {

	.grid-container {
		display: grid;
		grid-template-areas:
			'header header header header header header'
			'contact main main main main right'
			'contact footer footer footer footer footer';
	}
}

.item1 {
	grid-area: header;
	background-color: #386982;
	margin-top: 0;
	padding: 15px;
	text-align: center;
	background-image: linear-gradient(41deg, rgba(107, 107, 107, 0.04) 0%, rgba(107, 107, 107, 0.04) 8%, rgba(31, 31, 31, 0.07) 8%, rgba(31, 31, 31, 0.07) 100%), linear-gradient(9deg, rgba(228, 228, 228, 0.12) 0%, rgba(228, 228, 228, 0.12) 62%, rgba(54, 54, 54, 0.04) 62%, rgba(54, 54, 54, 0.04) 100%), linear-gradient(124deg, rgba(18, 18, 18, 0.04) 0%, rgba(18, 18, 18, 0.04) 37%, rgba(233, 233, 233, 0.04) 37%, rgba(233, 233, 233, 0.04) 100%), linear-gradient(253deg, rgba(201, 201, 201, 0.04) 0%, rgba(201, 201, 201, 0.04) 55%, rgba(47, 47, 47, 0.04) 55%, rgba(47, 47, 47, 0.04) 100%), linear-gradient(270deg, rgba(172, 172, 172, 0.04) 0%, rgba(172, 172, 172, 0.04) 33%, rgba(26, 26, 26, 0.04) 33%, rgba(26, 26, 26, 0.04) 100%), linear-gradient(64deg, rgba(11, 11, 11, 0.04) 0%, rgba(11, 11, 11, 0.04) 38%, rgba(87, 87, 87, 0.04) 38%, rgba(87, 87, 87, 0.04) 100%), linear-gradient(347deg, rgba(199, 199, 199, 0.04) 0%, rgba(199, 199, 199, 0.04) 69%, rgba(4, 4, 4, 0.04) 69%, rgba(4, 4, 4, 0.04) 100%), linear-gradient(313deg, rgba(36, 36, 36, 0.3) 0%, rgba(36, 36, 36, 0.3) 20%, rgb(56, 105, 130) 20%, rgb(56, 105, 130) 100%), linear-gradient(90deg, rgb(90, 152, 183), rgb(90, 152, 183));
}

.IdPic {
	width: 150px;
	height: 150px;
	margin: 8px;
	border-radius: 50%;
	border: solid 2px white;
}

/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/
/*----------Contact----------*/
.item2 {
	grid-area: contact;
	border: solid 1px #5A98B7;
	text-align: center;
}

.logo {
	width: 32px;
	height: 36px;
	margin: 1%;
	margin-top: 5px;
	margin-bottom: 10px;
}

.item2>a :hover {
	transform: scale(1.25);
}


/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
/*----------Hard Skills----------*/
.item3 {
	grid-area: main;
	border: solid 1px #5A98B7;
	width: 100%;
}

.Hardskills {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.HardSkills a {
	width: 75px;
	margin: 3%;
}

.HardSkills img {
	height: 75px;
	margin: 3%;
}

#figmabck {
	margin-left: 8%;
}

@media only screen and (minwidth: 768px) {
	#notionbck {
		margin-left: 10%;
	}
}

/*----------Modal----------*/




/*----------Fx----------*/
.HardSkills>a :hover {
	transform: scale(1.25)
}

/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
/*----------Soft Skills----------*/
.SoftSkills {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}

.SoftSkills li {
	margin: 1%;
}

.SoftSkills>img {
	height: 105px;
	margin: 1%;
	margin-left: 4%;
}

/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/
/*---------- Formations ----------*/
.item4 {
	grid-area: right;
	border: solid 1px #5A98B7;
	text-align: center;
}

/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/
/*----------Loisirs----------*/

.item5 {
	grid-area: footer;
	border: solid 1px #5A98B7;
}

.item5>.grid-container {
	display: grid;
	grid-template-columns: repeat (auto-fit, minmax(220px, 1fr));
	grid-auto-rows: 220px;
	gap: 1em;
	margin: 1%;
}


.zoom {
	border: solid 1px #386982;
	border-radius: 2px;
}

#cook {
	grid-column: span 4 / auto;
	background-image: url(../Img/cook.jpg);
	background-size: cover;
	background-position: top;
	text-align: center;
}

#games {
	grid-column: span 2 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/jeux.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#prod {
	grid-column: span 2 / auto;
	grid-row: span 2 / auto;
	background-image: url(../Img/synth.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;

}

#party {
	grid-column: span 2 / auto;
	background-image: url(../Img/fest.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

#travel {
	grid-column: span 4 / auto;
	background-image: url(../Img/voyage.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
}

/*----------Fx----------*/
.item5>.grid-container :hover {
	transform: scale(1.05);
}